.join {
    margin-left: 70px;
}

.join-titel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.join-list {
    display: flex;
}

.join-item:not(:last-child) {
    margin-right: 10px;
}

.join-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.join-icon {
    fill: #fff;
}